@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Computer Modern";
  src: url("./assets/fonts/cmunss-webfont.woff2") format("woff2"),
    url("/assets/fonts/cmunss-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Computer Modern", serif;
}

body {
  margin: 4px;
  background-color: #f8f9fa;
}

.bg-page-background {
  background-color: #f8f9fa;
}

.social-link {
  position: relative;
  display: inline-block;
  color: #000;
}

.social-link:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: grey;
  white-space: nowrap;
}

.icon-red {
  color: #c0392b;
}

.icon-green {
  color: #27ae60;
}

@media (max-width: 575px) {
  .custom-width {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .custom-width {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-width {
    width: 35%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .custom-width {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .custom-width {
    width: 25%;
  }
}