@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Computer Modern";
  src: url("./assets/fonts/cmunss-webfont.woff2") format("woff2"),
    url("/assets/fonts/cmunss-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Computer Modern", serif;
}

body {
  margin: 16px; /* or any value you prefer */
  background-color: #f8f9fa; /* background color for margins */
}

.bg-page-background {
  background-color: #f8f9fa; /* Or use a background image if needed */
}

.social-link {
  position: relative;
  display: inline-block;
  color: #000; /* default color */
}

.social-link:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: grey; /* Text color on hover */
  white-space: nowrap;
}

.icon-red {
  color: #c0392b; /* Christmas red */
}

.icon-green {
  color: #27ae60; /* Christmas green */
}

/* Custom width classes for different breakpoints */
@media (max-width: 575px) {
  .custom-width {
    width: 100%; /* Full width for screens less than 576px */
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .custom-width {
    width: 100%; /* 50% width for screens between 576px and 767px */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-width {
    width: 35%; /* 35% width for screens between 768px and 991px */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .custom-width {
    width: 33%; /* 33% width for screens between 992px and 1199px */
  }
}

@media (min-width: 1200px) {
  .custom-width {
    width: 25%; /* 25% width for screens greater than 1200px */
  }
}


