@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Computer Modern";
  src: url("./assets/fonts/cmunss-webfont.woff2") format("woff2"),
    url("/assets/fonts/cmunss-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Computer Modern", serif;
}

body {
  margin: 16px; /* or any value you prefer */
  background-color: #f8f9fa; /* background color for margins */
}

.bg-page-background {
  background-color: #f8f9fa; /* Or use a background image if needed */
}

.social-link {
  position: relative;
  display: inline-block;
  color: #000; /* default color */
}

.social-link:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: grey; /* Text color on hover */
  white-space: nowrap;
}

.icon-red {
  color: #C0392B; /* Christmas red */
}

.icon-green {
  color: #27AE60; /* Christmas green */
}
